<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Chat</title>
    <link rel="stylesheet" href="/styleSheets/style.css">
</head>
<body>
    <h1 id="headding" >whatsApp 📱</h1>
    <form method="post" action="/chats" >
        <h3>from</h3>
        <input type="text" placeholder="your good name!!" name="from">
        <h3>to</h3>
        <input type="text" placeholder="recivers name" name="to">
        <br><br>
        <textarea name="message" id="sentMessage" placeholder="say hi to your friend"></textarea>
        <br>
        <button class="sendButton">send</button>
    </form>
    
</body>
</html>